@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	height: 100%;
}

body {
	display: flex;
	flex-direction: column;
	min-height: 100%;

	background-color: hsla(0, 0%, 100%, 1);
	background-image: radial-gradient(at 24% 10%, hsla(204, 100%, 92%, 1) 0px, transparent 50%),
		radial-gradient(at 80% 0%, hsla(204, 100%, 78%, 1) 0px, transparent 50%),
		radial-gradient(at 100% 100%, hsla(184, 100%, 84%, 1) 0px, transparent 50%);
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.dark body {
	background-color: hsla(0, 0%, 9%, 1);
	background-image: radial-gradient(at 24% 10%, hsla(206, 100%, 10%, 1) 0px, transparent 50%),
		radial-gradient(at 80% 0%, hsla(204, 100%, 17%, 1) 0px, transparent 50%),
		radial-gradient(at 80% 100%, hsla(206, 100%, 10%, 1) 0px, transparent 50%);
}

.centered {
	@apply mx-10 flex grow flex-col items-start justify-center;
}

.main-title-color {
	@apply bg-gradient-to-br from-blue-400 to-blue-800 box-decoration-clone bg-clip-text text-transparent;
}

.dark .main-title-color {
	@apply bg-gradient-to-br from-blue-500 to-cyan-300 box-decoration-clone bg-clip-text text-transparent;
}

.input,
.textarea {
	@apply bg-white dark:bg-surface-800;
}

.opacity-fade {
background: linear-gradient(rgba(211, 211, 211, 0) 50%, rgba(211, 211, 211, 1));
}

.dark .opacity-fade {
background: linear-gradient(rgba(21, 21, 21, 0) 50%, rgba(21, 21, 21, 1));
}